/TechStore/nbproject/private/
/TechStore/build/
/Q1_thanhtxhe200359/nbproject/private/
/Q1_thanhtxhe200359/build/
/Q2_thanhtxhe200359/nbproject/private/
/Q2_thanhtxhe200359/build/
/Test4/Q1_thanhtxhe200359/build/
/Test4/Q1_thanhtxhe200359/nbproject/private/
/Test4/Q2_thanhtxhe200359/build/
/Test4/Q2_thanhtxhe200359/nbproject/private/
/TechStore/dist/
